@import "variables";

/* WORLD MAP  transitions =========================================================  */
.fade-enter-to,
.fade-leave-active {
  transition: opacity $animDuration;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
/* WORLD MAP transitions end =========================================================  */

/* SIDENAV transitions =========================================================  */
.slide-left-enter-active {
  transition: all 2s ease;
}
.slide-left-enter {
  transform: translateX(-115%);
}

.slide-right-enter-active {
  transition: all 1s ease;
}
.slide-right-enter {
  transform: translateX(115%);
}
/* SIDENAV transitions end =========================================================  */

/* CLOCK transitions =========================================================  */
.slide-bottom-enter-active {
  transition: all 0.5s ease-in;
}
.slide-bottom-enter {
  transform: translateY(105%);
}
/* CLOCK transitions end =========================================================  */

/* MARKERS transitions =========================================================  */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.2, 0.4, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: scale(1.05);
  transform-origin: -5px 5px;
  opacity: 0;
}
/* MARKERS transitions end =========================================================  */