@import "variables";

#worldMap {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worldMapImage {
  width: $mapWidth;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}